section.about
    .container.about__container
        ul.about__list
            li.about__item
                span.about__overhead What we do for you
                h2.title.title_size_s.about__title Strategy. Design Content.<i class="i-selection"> Technology </i> Development
                p.about__parag There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.
                a.btn.about__btn More know About us
            li.comment
                p.comment__parag With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
                .pers
                    .pers__ava
                    .pers__desc
                        span.pers__name Genevieve Rodriquez
                        span.pers__position Founder & CEO, Webovio