section.advantages#advantages
    .container.advantages__container
        h2.title.advantages__title Deation & Evaluation - Best Way to Kick off Your Product Idea
        ul.advantages__list
            li.advantages__item
                h3.advantages__name Product Design Sprint
                p.advantages__parag A five-day workshop that will help you answer crucial business questions
                a.btn.advantages__btn
                    svg.btn__svg
                        use(xlink:href='img/sprite.svg#right')
                    span.btn__txt Read More
            li.advantages__item
                h3.advantages__name Scoping Session
                p.advantages__parag A workshop aimed at shaping your business idea, answering questions regarding project planning
                a.btn.advantages__btn
                    svg.btn__svg
                        use(xlink:href='img/sprite.svg#right')
                    span.btn__txt Read More
            li.advantages__item
                h3.advantages__name UX Review
                p.advantages__parag An evaluation which will help you radically improve your product.
                a.btn.advantages__btn
                    svg.btn__svg
                        use(xlink:href='img/sprite.svg#right')
                    span.btn__txt Read More
            li.advantages__item
                h3.advantages__name Code Review
                p.advantages__parag Do you know what one of the key secrets of success is what makes people successful in business
                a.btn.advantages__btn
                    svg.btn__svg
                        use(xlink:href='img/sprite.svg#right')
                    span.btn__txt Read More
