section.brands
    .container.brands__container
        h2.visually-hidden Brands
        .brands__wrap
            .brands__img
            .brands__img
            .brands__img
            .brands__img
            .brands__img