section.cases
    .container.cases__container
        .cases__heading
            h2.title.cases__title We Have Some Awesomr Project.
            p.cases__parag Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,

        ul.cases__list
            li.cases__item
                .cases__img.cases__img-1
                .review.cases__review.cases__review-1
                    p.review__parag “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
                    .author
                        .author__ava.author__ava-1
                        .author__desc
                            span.author__name Angel Armstrong
                            span.author__position Founder & CEO, Google
                .see-txt.see-txt-1
                    h2.title.see-txt__title The wall new Balenciaga.com
                    p.see-txt__parag This article is floated online with an aim to help you find the best dvd printing solution.
                    p.see-txt__parag Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
                    a.btn.see-txt__btn See Case Study

            li.cases__item
                .cases__img.cases__img-2
                .review.cases__review.cases__review-2
                    p.review__parag “I know they are going to be honest with me. I am not going to get a subpar product; I know it is going to be good. That is the number one advantage of working with Exhibit Systems.
                    .author
                        .author__ava.author__ava-2
                        .author__desc
                            span.author__name Lina Hart
                            span.author__position Founder & CEO, Jico
                .see-txt.see-txt-2
                    h2.title.see-txt__title Is this the future of 3D model?
                    p.see-txt__parag While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space.
                    p.see-txt__parag It is those feelings that drive our love of astronomy and our desire to learn more and more about it. 
                    a.btn.see-txt__btn See Case Study

            li.cases__item
                .cases__img.cases__img-3
                .review.cases__review.cases__review-3
                    p.review__parag “Exhibit Systems is not a provider. They are not a supplier. They are a partner with expertise in making trade shows effective.”
                    .author
                        .author__ava.author__ava-3
                        .author__desc
                            span.author__name Eunice Oliver
                            span.author__position Founder & CEO, Zeem
                .see-txt.see-txt-3
                    h2.title.see-txt__title  Is this the future of Online Booking
                    p.see-txt__parag You should be able to find several indispensable facts about motivation in the following paragraphs. 
                    p.see-txt__parag If there’s at least one fact you didn’t know before, imagine the difference it might make.
                    a.btn.see-txt__btn See Case Study

