section.cases
    .container.cases__container
        .cases__heading
            h2.title.cases__title We Have Some Awesomr Project.
            p.cases__parag Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,

        ul.cases__list
            li.cases__item
                .cases__img
                .review.cases__review
                    p.review__parag “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
                    .author
                        .author__ava
                        .author__desc
                            span.author__name Angel Armstrong
                            span.author__position Founder & CEO, Google

            li.cases__item.see-txt
                h2.title.see-txt__title The wall new Balenciaga.com
                p.see-txt__parag This article is floated online with an aim to help you find the best dvd printing solution.
                p.see-txt__parag Dvd printing is an important feature used by large and small DVD production houses to print information on DVDs.
                a.btn.see-txt__btn See Case Study

