section.hero
    .container.hero__container
        .hero__txt
            span.hero__overhead A place where
            h1.title.title_size_m.title_color_white.hero__title A creative agency for redemptive brands
            p.hero__parag Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
            a.btn.btn_color_revers.hero__btn(href="#")
                svg.btn__svg
                    use(xlink:href='img/sprite.svg#right')
                span.btn__txt Get in touch