section.hero
    .container.hero__container
        .hero__txt
            span.hero__overhead A place where
            h1.title.title_size_m.hero__title A creative agency for redemptive brands
            p.hero__parag Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
            a.btn.btn_color_revers.hero__btn(href="#") Get in touch