section.start
    .container.start__container
        .start__wrap
            h2.title.title_size_m.start__title Let’s make something amazing together.
            a.btn.start__btn Let's get started