footer.footer#information
    .container.footer__container
        address.address
            ul.address__list
                li.address__item Phone
                li.address__item +32 50 31 28 32
            ul.address__list
                li.address__item Address
                li.address__item 491 Merlin Crest Suite 963

        .footer__inf
            ul.footer__list
                li.footer__item Services
                li.footer__item
                    a.footer__link(href="#") Strategy Design
                li.footer__item
                    a.footer__link(href="#") Product Design
                li.footer__item
                    a.footer__link(href="#") Content Strategy
                li.footer__item
                    a.footer__link(href="#") Brand Strategy
                li.footer__item
                    a.footer__link(href="#") Development 

            ul.footer__list
                li.footer__item Help And Advice
                li.footer__item
                    a.footer__link(href="#") How it works
                li.footer__item
                    a.footer__link(href="#") Contact Support
                li.footer__item
                    a.footer__link(href="#") Privacy Policy
                li.footer__item
                    a.footer__link(href="#") FAQ

            ul.footer__list
                li.footer__item Company
                li.footer__item
                    a.footer__link(href="#") About
                li.footer__item
                    a.footer__link(href="#") Blog
                li.footer__item
                    a.footer__link(href="#") Contact
                li.footer__item
                    a.footer__link(href="#") Jobs

            .vertical-line

            ul.footer__list
                li.footer__item Get in Touch
                li.footer__item.footer__txt Feel free to get in touch with us vai email
                li.footer__item
                    a.footer__link.email(href="#") info.webovio@gmail.com
                li.footer__item.social
                    a.social__link(href="#")
                        svg.social__svg
                            use(xlink:href='img/sprite.svg#fb')
                    a.social__link(href="#")
                        svg.social__svg
                            use(xlink:href='img/sprite.svg#tw')
                    a.social__link(href="#")
                        svg.social__svg
                            use(xlink:href='img/sprite.svg#gp')
                    a.social__link(href="#")
                        svg.social__svg
                            use(xlink:href='img/sprite.svg#in')

        .copy
            a.logo.copy__logo(href="#header")
                svg.copy__svg
                    use(xlink:href='img/sprite.svg#logo')
            p.copy__parag © 2020@webovio. All Rights Reserved.