header.header#header
    .container.header__container
        a.logo.header__logo(href="#header")
            svg.logo__svg
                use(xlink:href='img/sprite.svg#logo')
        .burger
            span.burger__line
            span.burger__line
            span.burger__line
            span.burger__line
            span.burger__line
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link.nav__link_border(href="#about") About
                li.nav__item
                    a.nav__link(href="#cases") Cases
                li.nav__item
                    a.nav__link(href="#advantages") Advantages
                li.nav__item
                    a.nav__link(href="#information") Information