.brands {
    &__container {
        position: relative;
    }

    &__wrap {
        position: absolute;
        left: 30px;
        top: -103px;
        display: flex;
        border-radius: 2px;
        padding: 60px 0;
        width: 109%;
        box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.14);
        background-color: #fff;
    }

    &__img {
        margin: 0 0 0 65px;
        width: 156px;
        height: 113px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &:nth-child(1) {
            background-image: url("../img/brands__img1.jpg");
        }

        &:nth-child(2) {
            background-image: url("../img/brands__img2.jpg");
        }

        &:nth-child(3) {
            background-image: url("../img/brands__img3.jpg");
        }

        &:nth-child(4) {
            background-image: url("../img/brands__img4.jpg");
        }

        &:nth-child(5) {
            background-image: url("../img/brands__img5.jpg");
        }
    }
}