.cases {
    padding: 150px 0 0;

    &__container {
        border-bottom: 1px solid rgba(33, 56, 66, 0.095);
        padding-bottom: 266px;
    }

    &__heading {
        display: flex;
        align-items: center;
    }

    &__title {
        max-width: 325px;
        line-height: 52px;
    }

    &__parag {
        margin: 0 0 0 133px;
        max-width: 518px;
        line-height: 26px;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: flex-end;
        margin: 188px 0 0;

        &:nth-child(2n) {
            justify-content: flex-start;
        }
    }

    &__img {
        position: absolute;
        width: 735px;
        height: 550px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &-1 {
            left: -165px;
            top: -84px;
            background-image: url("../img/cases__img1.jpg");
        }

        &-2 {
            right: -165px;
            top: 52px;
            background-image: url("../img/cases__img2.jpg");
        }

        &-3 {
            left: -165px;
            top: -28px;
            background-image: url("../img/cases__img3.jpg");
        }
    }

    &__review {
        &-1 {
            left: 158px;
            top: 288px;
        }

        &-2 {
            right: 157px;
            bottom: -60px;
        }

        &-3 {
            left: 158px;
            top: 345px;
        }
    }

    @include media(1170) {
        &__heading {
            justify-content: space-between;
        }

        &__parag {
            margin: 0;
        }

        &__item {
            justify-content: space-between;
            margin: 100px 0 0;

            &:nth-child(2n) {
                justify-content: space-between;

                .see-txt {
                    order: -1;
                }
            }
        }

        &__img {
            position: static;
            width: 300px;
            height: 250px;

            &-1 {
                left: 0;
                top: 0;
            }

            &-2 {
                right: 0;
                top: 0;
            }

            &-3 {
                left: 0;
                top: 0;
            }
        }

        &__review {
            &-1 {
                left: -10px;
                top: 180px;
            }

            &-2 {
                right: -10px;
                bottom: 20px;
            }

            &-3 {
                left: -10px;
                top: 180px;
            }
        }
    }

    @include media(950) {
        padding: 100px 0 0;

        &__container {
            padding-bottom: 50px;
        }

        &__heading {
            flex-direction: column;
            text-align: center;
        }

        &__title {
            max-width: 100%;
        }

        &__parag {
            margin: 20px 0 0;
            max-width: 100%;
        }

        &__item {
            flex-direction: column;
            align-items: center;

            .see-txt {
                order: -1;
            }
        }

        &__img {
            margin: 20px 0 0;
            width: 400px;
            height: 300px;
        }
    }

    @include media(650) {
        &__container {
            padding-bottom: 50px;
        }
    }
}

.review {
    position: absolute;
    border-radius: 8px;
    padding: 30px;
    max-width: 453px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.14);
    background-color: #fff;

    &__parag {
        font-style: italic;
        line-height: 26px;
        color: $mainColor;
    }

    @include media(950) {
        position: static;
    }
}

.author {
    display: flex;
    align-items: center;
    margin: 32px 0 0;

    &__ava {
        width: 46px;
        height: 46px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &-1 {
            background-image: url("../img/author__ava1.jpg");
        }

        &-2 {
            background-image: url("../img/author__ava2.jpg");
        }

        &-3 {
            background-image: url("../img/author__ava3.jpg");
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 14px;
    }

    &__name {
        font-weight: 700;
        color: $mainColor;
    }

    &__position {
        margin: 7px 0 0;
        font-size: 14px;
        color: #152934;
    }
}

.see-txt {
    max-width: 390px;

    &-1 {
        margin: 0 52px 0 0;
    }

    &-2 {
        margin: 134px 0 0 8px;
    }

    &-3 {
        margin: 54px 47px 0 0;
    }

    &__parag {
        line-height: 26px;

        &:nth-child(2) {
            margin: 34px 0 0;
        }

        &:nth-child(3) {
            margin: 24px 0 0;
        }
    }

    &__btn {
        margin: 93px 0 0;
    }

    @include media(1170) {
        margin: 0;
    }

    @include media(950) {
        max-width: 100%;
        text-align: center;

        &__title {
            margin: 0 0 20px;
        }

        &__parag {
            margin: 0;

            &:nth-child(2) {
                margin: 0;
            }

            &:nth-child(3) {
                margin: 0;
            }
        }

        &__btn {
            margin: 20px 0 0;
        }
    }
}