.footer {
    padding: 322px 0 0;
    background-image: url("../img/footer__bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__inf {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(33, 56, 66, 0.095);
        padding: 81px 0 66px;
    }

    &__item {
        margin: 14px 0 0;
        color: #b6c197;

        &:first-child {
            margin: 0 0 38px;
            font-weight: 500;
            text-transform: uppercase;
            color: #fff;
        }
    }

    &__link {
        line-height: 26px;
        transition: 0.2s;

        &:hover {
            color: $hoverColor;
        }
    }

    &__txt {
        max-width: 270px;
        line-height: 26px;
    }

    @include media(950) {
        padding: 150px 0 0;

        &__inf {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__list {
            &:not(:first-child) {
                margin: 30px 0 0;
            }
        }

        &__item {
            margin: 0;

            &:first-child {
                margin: 0 0 10px;
            }
        }

        &__txt {
            max-width: 100%;
        }
    }

    @include media(650) {
        padding: 80px 0 0;

        &__inf {
            padding: 20px 0 40px;
        }
    }
}

.address {
    display: flex;
    border-bottom: 1px solid rgba(33, 56, 66, 0.095);
    padding: 0 0 52px;
    font-style: normal;

    &__list {
        &:last-child {
            margin: 0 0 0 131px;
        }
    }

    &__item {
        &:first-child {
            color: #b6c197;
        }

        &:last-child {
            margin: 30px 0 0;
            font-weight: 700;
            color: #fff;
        }
    }

    @include media(950) {
        justify-content: space-evenly;
        text-align: center;

        &__list {
            &:last-child {
                margin: 0;
            }
        }
    }

    @include media(650) {
        flex-direction: column;
        padding: 20px 0;

        &__list {
            &:not(:first-child) {
                margin: 20px 0 0;
            }
        }

        &__item {
            &:last-child {
                margin: 10px 0 0;
            }
        }
    }
}

.vertical-line {
    width: 1px;
    height: 210px;
    background-color: #5d6544;

    @include media(950) {
        display: none;
    }
}

.email {
    display: block;
    margin: 23px 0 0;
    font-weight: 700;
    font-size: 24px;
    color: #fff;

    @include media(950) {
        margin: 10px 0 0;
        font-size: 18px;
    }
}

.social {
    display: flex;
    margin: 30px 0 0;

    &__link {
        display: block;
        border-radius: 50%;
        width: 33px;
        height: 33px;
        line-height: 38px;
        text-align: center;
        background-color: #444a34;
        transition: 0.2s;
        cursor: pointer;

        &:not(:first-child) {
            margin: 0 0 0 10px;
        }

        &:hover {
            background-color: $hoverColor;

            .social__svg {
                fill: #fff;
            }
        }
    }

    &__svg {
        width: 15px;
        height: 15px;
        fill: #5e6648;
        transition: 0.2s;
    }

    @include media(950) {
        justify-content: center;
        margin: 10px 0 0;
    }
}

.copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0 28px;

    &__svg {
        width: 200px;
        height: 35px;
    }

    @include media(650) {
        flex-direction: column;

        &__parag {
            margin: 20px 0 0;
        }
    }
}