extends common/layout

block content
    include includes/index/hero.pug
    include includes/index/brands.pug
    include includes/index/about.pug
    include includes/index/cases.pug
    include includes/index/advantages.pug
    include includes/index/start.pug